<div>
	<form action="/login" method="POST">
		<input type="text" placeholder="Username" name="username" />
		<br />
		<input type="password" placeholder="Password" name="password" />
		<br />
		<button type="submit">Log in</button>
	</form>
</div>
